<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Sectores</h1>

      <table class="table">
        <tr>
          <th>Id</th>
          <th>Nombre</th>
        </tr>
        <% @sectors.each do |s| %>
          <tr>
            <th><%= s.id %></th>
            <th><%= s.name %></th>
          </tr>
        <% end %>
      </table>

    </div>
  </div>
</div>
