<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Ventas</h1>

      <table class="table">
        <tr>
          <th>Id</th>
          <th>Fecha</th>
          <th>Cantidad</th>
        </tr>
        <% @sales.each do |s| %>
          <tr>
            <td><%= s.id %></td>
            <td><%= s.date %></td>
            <td><%= s.quantity %></td>
          </tr>
        <% end %>
      </table>

    </div>
  </div>
</div>
